/* BASE */
html {
    position: relative;
    min-height: 100%;
}

body {
    background: #8AC6D0;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    margin-bottom: 60px;
}

h1, h2, p, a {
    text-align: center;
}

h1 {
    margin: 40px 0 0 0;
    font-weight: 700;
    font-size: 4.5em;
    text-shadow: 4px 4px 0 rgba(0,0,0,.15);
}

h2 {
    font-size: 1.75em;
    color: rgba(0,0,0,.3);
}

p {
    font-size: 1em;
    font-weight: 200;
}


/* SECTION TABS */

#tabs {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 2% auto 0;
    max-width: 1200px;
    font-weight: 300;
    font-size: 1.25em;
    text-align: center;
}

// Nav Tabs

%item {

    @media screen and (min-width:980px) {
        display: inline-block;
        margin: 0 0 0 -5px;    
    }

    a {
        padding: 1.25em 3em;
        background: rgba(40,44,42,0.05);
        color: rgba(0,0,0,.3);
        line-height: 1;
        display: block;
        -webkit-transition: color 0.2s;
        transition: color 0.2s;
        text-decoration: none;
    }
}
    
nav {

    .navtab {
        list-style: none; 
        padding: 0 1em;
        
        &__item {
            @extend %item;
            border: 1px solid rgba(40,44,42,0.1);

            @media screen and (min-width:980px){
                &:not(:last-child) {
                    border-right: none;
                }
            }

            
            &--active{
                @extend %item;
                border-bottom: none;
                border-top: 1px solid rgba(0,0,0,.3);

                a {
                    background: none;
                    box-shadow: inset 0 3px 0 rgba(0,0,0,.3);
                    color: #fff;
                }
            }
            
            
        }
    }
    
}
    
// Hide Tbas
.tab-content {

    article {
        display: none;
    }
}

/* FOOTER */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
   
    a {
        color: rgba(0,0,0,.3);
        text-decoration: none;
        display: block;
        margin: 20px 0;

        &:hover {
            color: white;
        }
    }
}



